* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

body::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    pointer-events: none;
    z-index: 2;
    mix-blend-mode: difference;
}

body::after {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color:  #000;
    pointer-events: none;
    z-index: -1;
}

marquee {
    color: #fff;
    font-size: 6vw;
    font-weight: 800;
    text-transform: capitalize;
}

